<a href="https://colab.research.google.com/github/abdurrahman720/python_ml/blob/main/python01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##List

In [ ]:
my_list = [1,2,3,4,5]
type(my_list)

list

In [ ]:
my_list.append(6)

In [ ]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = input('hi')

hia

In [ ]:
print(a)

a

In [ ]:
a = int(input('Enter the value of a:'))
print(a)

Enter the value of a:4
4

In [ ]:
# prompt: a function to check if a number is odd or even

def is_odd(a):
  if a % 2 == 0:
    return False
  else:
    return True

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(4,7)

11

In [ ]:
del my_list[3]
print(my_list)

[1, 2, 3, 5]

# Tuple

In [ ]:
tuple_1 = (2,3,4,5)
print(tuple_1)

(2, 3, 4, 5)

# Operators
arithmetic, logical, comparsion, identity, membershiop

In [ ]:
num1= 20
num2 = 10
exp = num1 ** num2 #20^10
print('exp is : ',exp)

exp is :  10240000000000

In [ ]:
#comparsion
a=10
print(a>10 and a>5)
print(not(a>10 and a>5))

False
True

In [ ]:
#membership
a, b = 5, 10

c = [1,5,11]

print(a in c) #include in js
print(b in c)

True
False

# Loops

In [ ]:
#loops
numbers = [1,4,6,7,9]
for i in numbers:
  print(i)

1
4
6
7
9

In [ ]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

# Function

In [ ]:
def fac(n):
  factorial =1
  if n==0:
    return 0
  else:
    for i in range(1,n+1):
      factorial = factorial*i
  return factorial

In [ ]:
print(fac(5))

120

# NumPy - Numerical Python


*   can store multiple values
*   several operations can be done faster rather than list or tuples

In [ ]:
import numpy as np

List vs NumPy time taken

In [ ]:
from time import process_time

time taken by list and np

In [ ]:
python_list = [i for i in range(100000)]

start_time = process_time()

python_list = [i+5 for i in python_list]

end_time = process_time()

print(end_time - start_time)

0.0083068389999994

In [ ]:
np_array = np.array([i for i in range(100000)])
start_time = process_time()

np_array +=5

end_time = process_time()

print(end_time - start_time)

0.0004339719999961744

## NumPy array

In [ ]:
np_array= np.array([1,2,3,4,5])

print(np_array)

type(np_array)

[1 2 3 4 5]

numpy.ndarray

In [ ]:
np_array.shape

(5,)

In [ ]:
b = np.array([(1,2,3,4,5),(6,7,8,9,10)])
print(b)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [ ]:
b.shape

(2, 5)

In [ ]:
c= np.array([(1,2,3),(4,5,6)],dtype=float)
print(c)

[[1. 2. 3.]
 [4. 5. 6.]]

Initial placeholders in numpy array

In [ ]:
# intial value 0
x= np.zeros((4,5))
print(x)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [ ]:
# inital value 1
y = np.ones((3,3))
print(y)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
# inital with a prticular value
y = np.full((3,3),5)
print(y)

[[5 5 5]
 [5 5 5]
 [5 5 5]]

In [ ]:
#indentity matrix
a = np.eye(4)
print(a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [ ]:
# inital with random value
a = np.random.random((3,4))
print(a)

[[0.40391817 0.69316235 0.93180005 0.82479377]
 [0.49501502 0.23459514 0.0294643  0.79222799]
 [0.13458929 0.47240929 0.5586168  0.9618974 ]]

In [ ]:
# inital with random value int
a = np.random.randint(10,100,(3,5)) #value range is 10 to 100 and rowXcols is 3:5
print(a)

[[36 70 76 35 15]
 [69 60 64 79 20]
 [49 44 65 30 33]]

In [ ]:
# inital with evenly values
a = np.linspace(10,30,5) # range is 10 to 30 and elements is 5

print(a)

[10. 15. 20. 25. 30.]

In [3]:
#arithmetic operations
import numpy as np

a= np.random.randint(0,10,(3,3))
b= np.random.randint(10,20,(3,3))
print(np.add(a,b))

[[12 28 15]
 [18 22 12]
 [16 23 16]]